In [1]:
import datetime as dt
import pandas as pd
import seaborn as sns
# from pandas_profiling import ProfileReport
pd.set_option('display.max_rows', 500)

In [2]:
df = pd.read_csv("2022-01.csv", encoding="utf-8", low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052418 entries, 0 to 1052417
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1052418 non-null  object
 1   rideable_type       1052418 non-null  object
 2   started_at          1052418 non-null  object
 3   ended_at            1052418 non-null  object
 4   start_station_name  1052418 non-null  object
 5   start_station_id    1052418 non-null  object
 6   end_station_name    1043187 non-null  object
 7   end_station_id      1043187 non-null  object
 8   start_lat           1052418 non-null  float64
 9   start_lng           1052418 non-null  float64
 10  end_lat             1045920 non-null  float64
 11  end_lng             1045920 non-null  float64
 12  member_casual       1052418 non-null  object
dtypes: float64(4), object(9)
memory usage: 104.4+ MB

In [4]:
df = df.dropna(axis="index")
df = df.reset_index(drop=True)
df["rideable_type"] = df["rideable_type"].astype("category")
df["member_casual"] = df["member_casual"].astype("category")
df["started_at"] = pd.to_datetime(df["started_at"], infer_datetime_format=True)  
df["ended_at"] = pd.to_datetime(df["ended_at"], infer_datetime_format=True)  
df["start_hour"] = df["started_at"].dt.hour
df["end_hour"] = df["ended_at"].dt.hour
df["elapsed_min"] = (df["ended_at"] - df["started_at"])
df["elapsed_min"] = df["elapsed_min"].astype("timedelta64[m]")
df = df.reset_index(drop=True)

In [5]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_hour,end_hour,elapsed_min
0,55262E4365A955A2,classic_bike,2022-01-18 08:23:52,2022-01-18 08:28:18,Boerum Pl\t& Pacific St,4488.09,Clinton St & Joralemon St,4605.04,40.688489,-73.991160,40.692395,-73.993379,member,8,8,4.0
1,D272F1B15D841EC0,classic_bike,2022-01-21 09:03:22,2022-01-21 09:05:44,E 12 St & Ave C,5616.08,E 10 St & Avenue A,5659.05,40.727243,-73.976831,40.727408,-73.981420,member,9,9,2.0
2,D1FCEF55EB4A807F,classic_bike,2022-01-22 14:28:32,2022-01-22 14:53:18,W 21 St & 6 Ave,6140.05,W 44 St & 11 Ave,6756.05,40.741740,-73.994156,40.762009,-73.996975,member,14,14,24.0
3,E9CBDC6A0162C068,electric_bike,2022-01-19 14:49:47,2022-01-19 14:54:02,38 St & 30 Ave,6850.01,Crescent St & 30 Ave,6958.06,40.764175,-73.915840,40.768692,-73.924957,member,14,14,4.0
4,2177A5B57326CE9B,electric_bike,2022-01-16 14:36:06,2022-01-16 14:44:06,Pacific St & Nevins St,4362.04,Clinton St & Tillary St,4748.07,40.685376,-73.983021,40.696233,-73.991421,member,14,14,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043182,3A8436E896501EB6,classic_bike,2022-01-09 09:40:49,2022-01-09 09:58:55,27 St & Hunter St,6310.06,Vernon Blvd & 50 Ave,6170.02,40.748500,-73.941275,40.742327,-73.954117,casual,9,9,18.0
1043183,31EE3AF319AE47D2,classic_bike,2022-01-26 16:11:27,2022-01-26 16:17:20,Monroe St & Bedford Ave,4368.05,Putnam Ave & Throop Ave,4392.04,40.685144,-73.953809,40.685153,-73.941110,casual,16,16,5.0
1043184,C27D809EC458BE2A,electric_bike,2022-01-20 11:39:41,2022-01-20 11:44:46,E 118 St & 1 Ave,7596.10,Lexington Ave & E 111 St,7567.06,40.797470,-73.935040,40.795412,-73.944123,member,11,11,5.0
1043185,4968572973DEDCB2,electric_bike,2022-01-18 21:17:11,2022-01-18 21:25:57,Allen St & Hester St,5342.10,1 Ave & E 18 St,5854.09,40.716059,-73.991908,40.733812,-73.980544,member,21,21,8.0
1043186,B40238814400C8B2,classic_bike,2022-01-22 19:05:54,2022-01-22 19:16:39,Gansevoort St & Hudson St,6072.14,12 Ave & W 40 St,6765.01,40.739448,-74.005070,40.760875,-74.002777,member,19,19,10.0

In [ ]:
min_lat = df["start_lat"].min()
max_lat = df["start_lat"].max()

min_lng = df["start_lng"].min()
max_lng = df["start_lng"].max()

In [ ]:
df["start_lat"] = df["start_lat"].round(decimals=5)
df["end_lat"] = df["end_lat"].round(decimals=5)

df["start_lng"] = df["start_lng"].round(decimals=5)
df["end_lng"] = df["end_lng"].round(decimals=5)

In [ ]:
zip_df = pd.read_csv("uszips.csv")

In [ ]:
zip_df = zip_df[["zip","lat","lng"]]

In [ ]:
zip_df = zip_df.rename(columns={"lat":"start_lat", "lng":"start_lng"})

In [ ]:
zip_df

In [ ]:
df

In [ ]:
merge_df = pd.concat([df, zip_df], axis=0, join="outer")

In [ ]:
merge_df["zip"].info()

In [6]:
df["start_station_name"].nunique()

1528

In [ ]:
sns.pairplot(df.sample(1000))

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.describe(include="all")

In [ ]:
df.duplicated().sum()

In [ ]:
df["rideable_type"].value_counts()

In [ ]:
df["member_casual"].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df.loc[(df["end_station_name"].isna()),:]

In [ ]:
df = df.dropna(axis="index")

In [ ]:
df.isna().sum()

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
df.info()

In [ ]:
df["rideable_type"] = df["rideable_type"].astype("category")

In [ ]:
df["member_casual"] = df["member_casual"].astype("category")

In [ ]:
df["started_at"] = pd.to_datetime(df["started_at"], infer_datetime_format=True)

In [ ]:
df["ended_at"] = pd.to_datetime(df["ended_at"], infer_datetime_format=True)

In [ ]:
df["start_hour"] = df["started_at"].dt.hour

In [ ]:
df["end_hour"] = df["ended_at"].dt.hour

In [ ]:
df["start_hour"].value_counts()

In [ ]:
df["end_hour"].value_counts()

In [ ]:
df.info()

In [ ]:
df["elapsed_min"] = (df["ended_at"] - df["started_at"])

In [ ]:
df["elapsed_min"].value_counts()

In [ ]:
df["elapsed_min"] = df["elapsed_min"].astype("timedelta64[m]")

In [ ]:
df["elapsed_min"].value_counts()

In [ ]:
df.sample(50)

In [ ]:
df.info()

In [ ]:
df.to_csv("JAN22_clean.csv")

In [ ]:
profile = ProfileReport(df, title="Pandas Profiling Report")

In [ ]:
profile.to_file("JAN22_report.html")